---
import { getCollection } from "astro:content";
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import PostList from "../components/PostList.astro";
import Layout from "../layouts/Layout.astro";

const posts = await getCollection("posts");
---

<Layout title="Blog | HHY">
	<Main>
		<H1 text="HHY Blog" />
        {posts.map(post => (
            <PostList posts={posts} />
        ))}
        </H1>
	</Main>
</Layout>