---
import Layout from '../layouts/Layout.astro';
import H1 from '../components/H1.astro';
import { Image } from 'astro:assets';
import selfIdentity from "../content/posts/images/self-identity.png"
import surrender from "../content/posts/images/surrender.png"
import { Icon } from 'astro-icon/components';
---

<Layout title="Happier & Healthier You">
	<div class="grid h-full w-full grid-cols-1 grid-rows-1 md:grid-cols-12 md:grid-rows-5 gap-4">
		<!-- one -->
		<div class="md:col-span-6 md:row-span-3 rounded-lg bg-gray-200 flex justify-center items-center">
			<Image
				src={selfIdentity}
				alt="Calm Energy Image"
				class="object-cover rounded"
			/>
		</div>
		<!-- two -->
		<div class="md:col-span-6  md:row-span-1 rounded-lg bg-midnight-green flex justify-center items-center" >
			<div class="w-full px-4 flex justify-center prose text-2xl">
			<h3 class=" text-alice-white">Live a Happier & Healthier Life!</h3>
			</div>
		</div>
		<!-- three -->
		<div class="md:col-span-4  md:row-span-2 rounded-lg bg-gray-200 flex justify-center items-center" >
			<div class="w-full px-4 grid prose">
				<div class="font-extrabold">Start Your 13 Week Journey</div>
				<ul class="text-midnight-green font-semibold">
					<li>Build new healthy habits</li>
					<li>Establish a chaos free mind-set</li>
					<li>Live with more purpose each day</li>
					<li>Pursue exciting adventures</li>
				</ul>
			</div>
		</div>
		<!-- four -->
		<div class="md:col-span-2  md:row-span-2 rounded-lg bg-airforce-blue flex justify-center items-center">
			<div class="flex flex-col w-full h-full">
				
					<div class="flex w-full h-2/4 text-white text-lg justify-center items-end">Download Journal</div>
					<div class="flex w-full h-2/4 text-white text-xl justify-center items-start">
						<a 
							href='https://garyditsch.gumroad.com/l/happierandhealthieryou/free'
						>
							<Icon name="download" class="w-8 h-8"/>
						</a>
					</div>
			</div>
		</div>
		<!-- five -->
		<div class="flex justify-center items-center prose text-lg md:col-span-4  md:row-span-1 rounded-lg bg-gray-200">
			<a
				href='/lesson/week-one'
				class="no-underline"
			>
				<div class="flex h-full w-full justify-center items-center text-midnight-green uppercase">Start Today | Week One Lesson Plan</div>
			</a>
		</div>
		<!-- six -->
		<div class="md:col-span-4  md:row-span-1 rounded-lg bg-midnight-green flex items-center">
		</div>
		<!-- seven -->
		<div class="md:col-span-4  md:row-span-2 rounded-lg bg-gray-200 flex justify-center items-center">
			<Image
				src={surrender}
				alt="Are you ready for change"
				class="object-cover rounded"
			/>
		</div>
		<!-- eight -->
		<div class="md:col-span-2  md:row-span-1 rounded-lg bg-gray-200 flex justify-center items-center">
			<Icon name="twitter" class="w-10 h-10"/>
		</div>
		<!-- nine -->
		<div class="md:col-span-3  md:row-span-1 rounded-lg bg-gray-200 flex justify-center items-center">
			<div class="bg-moonstone w-full h-full rounded-lg">
			</div>
		</div>
		<!-- ten -->
		<div class="md:col-span-3  md:row-span-1 rounded-lg bg-gray-200 flex items-center">
			<a
					href='/blog/are-you-really-open-for-change'
			>
			<div class="w-full h-full rounded-lg p-4">
				<div class="text-xl text-midnight-green font-semibold line-clamp-1">Are you ready for change?</div>
				<div class="text-sm font-normal text-midnight-green pt-2 line-clamp-2">
					Too often the conclusion to this line of questioning is an individual who really wants the outcomes, however they want them without having to change anything about themselves or their behaviors. They also expect that these results will come quickly.
				</div>
			</div>
			</a>
		</div>
	</div>
</Layout>