---
import type { CollectionEntry } from "astro:content";
import { Image } from 'astro:assets';

type Props = {
    lesson: CollectionEntry<'lessons'>
};

const {lesson} = Astro.props;
---

<article>
    <a
        href={`/lesson/${lesson.slug}`}
        class="text-2xl text-dark font-semibold inline-block"
    >
        <h2>{lesson.data.title}</h2>
    </a>

    <p class="text-dark text-lg line-clamp-2">
        {lesson.data.description}
    </p>
    
</article>