---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
interface Props {
	title: string;
	description?: string;
	image?: string;
}

const { title, description = "Lessons for Week One", image = "/images/bamd.jpg" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content="{image}" />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header />
		<section class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-100 py-8 lg:py-12">
			<div class="relative w-full bg-white px-6 py-12 shadow-xl shadow-slate-700/10 ring-1 ring-gray-900/5 md:mx-auto md:max-w-3xl lg:max-w-4xl lg:pb-28 lg:pt-16">
				<div class="prose prose-slate mx-auto lg:prose-lg">
				<slot />	
				</div>
			</div>
		</section>
	</body>
</html>

